/*-----------------------------------------------------------------------Carrosel-------------------------------------------------------------------------*/
div.Produto{
    padding: 10px 6em 4.5em ;
    background-color: white;
}
.carrosel{

    display: flex;
    gap: 10px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    anchor-name: --carrosel;
    scroll-behavior: smooth;

}
.carrosel::-webkit-scrollbar {
    display: none;
}
.carrosel::scroll-button(right), .carrosel::scroll-button(left){
    content: '→';
    border: none;
    background-color: var(--main_color);
    font-family: Consolas;
    font-size: 3rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position:fixed;
    position-anchor: --carrosel;
    position-area: right center;
    margin: 10px;
    
}
.carrosel::scroll-button(left){
    content: '←';
    position-area: left center;
}
.carrosel::scroll-button(left):disabled, .carrosel::scroll-button(right):disabled{
    opacity: 0.5;
    cursor: auto;
}
.max{
        min-height: 225px;
        min-width: 233px;
        border: solid 0px red;
    }
.fotos-img{
    width: 400px;
    height: 400px;
    cursor:pointer;
}
@media (max-width: 768px) {
    .carrosel {
        scroll-snap-type: x mandatory;
        overflow-x: auto;
        display: flex;
        gap: 1em;
        max-width: 100%;
    }
    .cartao-sobre {
        width: 100%;
        flex: 0 0 100%;
        scroll-snap-align: center;
    }
    .produtos-produto {
        flex: 0 0 100%;
        max-width: 100%;
        scroll-snap-align: center;
        margin: 0 auto;
    }
    .container {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 950px) {
    .cartao-sobre {
        width: 100%;
        flex: 0 0 100%;
        scroll-snap-align: center;
    }
    .produtos-produto {
        flex: 0 0 100%;
        max-width: 100%;
        scroll-snap-align: center;
        margin: 0 auto;
    }
    .carrosel::scroll-button(right), .carrosel::scroll-button(left){
        display: none;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/